.navbar {
    height: 85px;
    background-color: aquamarine;
    margin-bottom: 20px;
}

.nav-container {
    display: flex;
    justify-content: space-between;
}

.name {
    display: flex;
}

.name img {
    height: 80px;
    width: 80px;
    margin-left: 75px;
    padding: 15px;
}

.name h2 {
    margin-top: 15px;
}

.link {
    margin-right: 200px;
    margin-bottom: 20px;
}

.link-section {
    text-decoration: none;
    padding-left: 50px;

}


/* for mobile device  */

@media only screen and (max-width: 600px) {
    .navbar {
        height: 110px;
        background-color: rgb(240, 216, 194);
        margin-bottom: 40px;
    }

    .name {
        height: 70px;
    }

    .name img {
        margin-left: 20px;
    }
}